
@{
	ViewBag.Title = "Index";
}
@section Scripts{
	<script src="~/Scripts/angular.js"></script>
	<script src="~/Scripts/app.js"></script>
	<script src="~/Scripts/directives/area1.js"></script>
}
<h2>Index</h2>
<div ng-app="app">
	<area-one></area-one>
</div>
