
@{
	ViewBag.Title = "Index";
}

@section CSS{

}

@section Scripts{

	<script src="~/Scripts/angular.js"></script>
	<script src="~/Scripts/app.js"></script>
}

<h2>Index</h2>

<div ng-app="app">

	<div ng-controller="mainCtrl">
		<button id="button1" ng-click="button1Click()">Button 1</button>
	</div>
	<div ng-controller="secondCtrl">
		<button id="button2" ng-click="button2Click()">Button 2</button>
	</div>

</div>
