
@{
	ViewBag.Title = "Index";
}
@section Scripts{
	<script src="~/Scripts/TypeScripts/reverse.js"></script>
	<script src="~/Scripts/angular.js"></script>
	<script src="~/Scripts/app.js"></script>
	<script src="~/Scripts/app-outerCtrl.js"></script>
	<script src="~/Scripts/directives/area1.js"></script>
	<script src="~/Scripts/directives/area2.js"></script>

	<script>
		(function () {
			// http://stackoverflow.com/a/34427511/4035
			var myApp = myApp || {};
			myApp.Urls = myApp.Urls || {};
			myApp.Urls.baseUrl = '@Url.Content("~")';

			var a = angular.module("app").value("appSettings", myApp);
		})();
	</script>

}

<h2>Index</h2>
<div ng-app="app">
	<div ng-controller="outerCtrl">
		<span>{{testText}}</span>
		
		@*http://www.codelord.net/2014/05/10/understanding-angulars-magic-dont-bind-to-primitives/*@
		<div ng-repeat="item in items track by $index">
			<input type="text" ng-model="items[$index]" />
		</div>
		@*<input type="text" ng-model="items[]" value="abc" />
		<input type="text" ng-model="items[]" value="def" />
		<input type="text" ng-model="items[]" value="ghi" />*@
		<button ng-click="reverse(items)"></button>
		<div id="reversedListResult"></div>

		<area-one></area-one>
		<area-two></area-two>

	</div>
</div>
