
@{
	ViewBag.Title = "Index";
}

@section CSS
{

}

@section Scripts
{
	<script src="~/Scripts/react/react-0.13.1.js"></script>
	<script src="@Url.Content("~/Scripts/script.jsx")"></script>
}

<div id="root"></div>

