
@{
    ViewBag.Title = "StateLess";
}

@section CSS
{

}

@section Scripts
{
	<script src="@Url.Content("~/Scripts/react/react-0.13.1.js")"
			data-main="@Url.Content("~/Scripts/jsx/stateless-test-main.jsx")"></script>
}
<h2>StateLess</h2>

